<div class="container">
    <div class="container-card">
        <div class="book">
            <i class="bi-book"></i>
        </div>
        <ul ngbNav #nav="ngbNav">
            <li [ngbNavItem]="1">
                <a ngbNavLink class="nav-tab">ENTRAR</a>
                <ng-template ngbNavContent>
                    <div class="input-group mb-3 mt-5">
                        <div class="input-group-prepend">
                            <span class="input-group-text" id="basic-addon1"><i class="bi-envelope-fill"></i></span>
                        </div>
                        <input [(ngModel)]="requestLogin.email" type="email" class="form-control" placeholder="E-mail" aria-label="E-mail"
                            aria-describedby="basic-addon1">
                    </div>

                    <div class="input-group mb-3">
                        <div class="input-group-prepend">
                            <span class="input-group-text" id="basic-addon1"><i class="bi-key-fill"></i></span>
                        </div>
                        <input [(ngModel)]="requestLogin.password" type="password" class="form-control" placeholder="Senha" aria-label="Password"
                            aria-describedby="basic-addon1">
                    </div>
                    <button (click)="doLogin()" type="button" class="btn btn-primary button-login">LOGIN</button>
                </ng-template>
            </li>
            <li [ngbNavItem]="2">
                <a ngbNavLink class="nav-tab">REGISTRAR</a>
                <ng-template ngbNavContent>

                    <div class="input-group mb-3 mt-5">
                        <div class="input-group-prepend">
                            <span class="input-group-text" id="basic-addon1"><i class="bi-person-fill"></i></span>
                        </div>
                        <input [(ngModel)]="requestRegister.name" type="text" class="form-control" placeholder="Nome" aria-label="Text"
                            aria-describedby="basic-addon1">
                    </div>

                    <div class="input-group mb-3 mb-3">
                        <div class="input-group-prepend">
                            <span class="input-group-text" id="basic-addon1"><i class="bi-envelope-fill"></i></span>
                        </div>
                        <input  [(ngModel)]="requestRegister.email" type="email" class="form-control" placeholder="E-mail" aria-label="E-mail"
                            aria-describedby="basic-addon1">
                    </div>

                    <div class="input-group mb-3">
                        <div class="input-group-prepend">
                            <span class="input-group-text" id="basic-addon1"><i class="bi-key-fill"></i></span>
                        </div>
                        <input [(ngModel)]="requestRegister.password" type="password" class="form-control" placeholder="Senha" aria-label="Password"
                            aria-describedby="basic-addon1">
                    </div>
                    <button (click)="doRegister()" type="button" class="btn btn-primary button-login">REGISTRAR</button>
                </ng-template>
            </li>
        </ul>
        <div [ngbNavOutlet]="nav" class="mt-2"></div>
    </div>
</div>